/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BACKGROUND STYLE */
.top-background{
    height: 150px;
    background-color: #009688;
}

.main-background{
    background-color: #d9dbd5;
    height: 800px;
}

/* MAIN STYLE */
.main-container{
    margin-top: -80px;
}

/* LEFT-CONTAINER */
.left-container{
    background-color: #ededed;
    border-right: 1px solid lightgray;
}

.icon-notifications{
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.notifications-container{
    background-color: #9de1fe;
}

.fas, .far {
    color: gray;
    cursor: pointer;
    font-size: 20px;
}

.fas:hover, .far:hover{
    color: #CDC1C5;
}

.fa-bell-slash{
   color: #9de1fe;
}


/* RIGHT-CONTAINER */

.header-right{
    background-color: #ededed;
}

.chat-container{
    height: 700px;
    background-image: url("../img/mine.jpg");
    border: 1px solid lightgray;
}

.date-message{
    font-size: 12px;
}

.footer-chat-container{
    background-color: #ededed;
}

.footer-chat-container .fa-microphone:hover{
    color: #ff3b30;
}


/* IMG E AVATARS */
.avatars-img{
    width: 60px;
    border-radius: 50px;
}

/* CHAT STYLE & JS DYNAMIC CLASS MESSAGES */
.text-message{
    width: 250px;
    padding: 10px;
    margin: 5px 10px;
}

.sent .text-message{
    background-color: #dcf8c6;
    border-radius: 15px;
}

.sent{
    justify-content: flex-end;
}

.received .text-message{
    background-color: white;
    border-radius: 15px;
}
