/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BACKGROUND STYLE */
.top-background{
    height: 150px;
    background-color: #009688;
}

.main-background{
    background-color: #d9dbd5;
    height: 800px;
}

/* MAIN STYLE */
.main-container{
    margin-top: -80px;
}

/* LEFT-CONTAINER */
.left-container{
    background-color: #ededed;
}

.icon-notifications{
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.notifications-container{
    background-color: #9de1fe;
}

.fas, .far {
    color: gray;
    cursor: pointer;
}

.fa-bell-slash{
   color: #9de1fe;
}


/* RIGHT-CONTAINER */

.header-right{
    background-color: #ededed;
}

.chat-container{
    height: 500px;
    background-image: url("../img/mine.jpg");
}

.footer-chat-container{
    background-color: #ededed;
}

/* MESSAGE ZONE*/
.sent-message{
    width: 200px;
    height: 50px;
    background-color: #dcf8c6;
    border-radius: 10px;
}

.receveid-message{
    width: 200px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
}

/* IMG E AVATARS */
.avatars-img{
    width: 60px;
    border-radius: 50px;
}

