/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    height: 100vh;
    background: rgb(210,219,220);
    background: linear-gradient(0deg, rgba(210,219,220,1) 0%, rgba(221,219,210,1) 85%, rgba(0,149,135,1) 85%, rgba(0,149,136,1) 100%);
}

/* LEFT-CONTAINER */
.left-container{
    background-color: #ededed;
    border-right: 1px solid lightgray;
}

.icon-notifications{
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.notifications-container{
    background-color: #9de1fe;
}

.fas, .far {
    color: gray;
    cursor: pointer;
    font-size: 20px;
}

.fas:hover, .far:hover{
    color: #CDC1C5;
}

.fa-bell-slash{
   color: #9de1fe;
}

.contacts-container{
    overflow-y: scroll;
}

/* RIGHT-CONTAINER */

.header-right{
    background-color: #ededed;
}

.chat-container{
    height: 700px;
    background-image: url("../img/mine.jpg");
    border: 1px solid lightgray;
    overflow-y: scroll;
}

.date-message{
    font-size: 12px;
}

.footer-chat-container{
    background-color: #ededed;
}

.footer-chat-container .fa-microphone:hover{
    color: #ff3b30;
}


/* IMG E AVATARS */
.avatars-img{
    width: 60px;
    border-radius: 50px;
}

/* CHAT STYLE & JS DYNAMIC CLASS MESSAGES */
.text-message{
    width: 250px;
    padding: 10px;
    margin: 5px 10px;
}

.sent .text-message{
    background-color: #dcf8c6;
    border-radius: 15px;
}

.sent{
    justify-content: flex-end;
}

.received .text-message{
    background-color: white;
    border-radius: 15px;
}
