<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BoolZapp!</title>

    <!-- link font-awesome -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <!-- link bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <!-- link css -->
    <link rel="stylesheet" href="./css/style.css"/>
    <!-- link cdn estensione vue.js  -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  </head>
  <body>
    
    
    <!-- js #app -->
    <div id="app">
        
        <!-- GENERAL CONTAINER -->
        <div class="container-fluid p-0">
        
            <!-- BACKGROUND TOP/MAIN (GREEN) -->
            <div class="top-background"></div>
            <!-- / BACKGROUND TOP/MAIN (GREEN) -->

            <!-- BACKGROUND MAIN (GRAY) -->
            <div class="main-background d-flex">
                
                <!-- MAIN CONTAINER -->
                <div class="container main-container ">
                    
                    <!-- ROW -->
                    <div class="row g-0">

                        <!-- COL LEFT -->
                        <div class="col-sm-6 col-lg-4 left-container">
                    
                            <!-- LEFT CONTAINER / SIDEBAR -->
                            <!-- HEADER-LEFT -->
                            <div class="header-left d-flex mb-3">

                                <!-- USER IMG-DETAILS CONTAINER -->
                                <div class="user-img flex-grow-1">
                                    <img
                                    class="avatars-img my-2 mx-2"
                                    src="./img/avatar_io.jpg"
                                    alt=""
                                    />
                                    <span class="fw-bold">Chiara</span>
                                </div>
                                <!-- / USER IMG-DETAILS CONTAINER -->

                                <!-- ICONS PROFILE-TOOLS CONTAINER -->
                                <div class="profile-tools">
                                    <a href="#"><i class="fas fa-circle-notch my-3 mx-2 py-2 px-1"></i></a>
                                    <a href="#"><i class="fas fa-comment-alt my-3 mx-2 py-2 px-1"></i></a>
                                    <a href="#"><i class="fas fa-ellipsis-v my-3 mx-2 py-2 px-1"></i></a>
                                </div>
                                <!-- / ICONS PROFILE-TOOLS CONTAINER -->

                            </div>
                            <!-- / HEADER-LEFT -->

                            <!-- NOTIFICATIONS-CONTAINER -->
                            <div class="notifications-container d-flex">
                                <div class="icon-notifications text-center py-3 px-3 mx-2 my-2">
                                    <a href="#"><i class="fas fa-bell-slash"></i></a>
                                </div>

                                <div class="notifications my-2 mx-1">
                                    <div class="receive-notification fw-bold">
                                        Ricevi notifiche di nuovi messaggi
                                    </div>
                                    <div class="active-notification text-decoration-underline mb-1">
                                       <a href="#" class="text-dark">Attiva notifiche desktop</a>
                                    </div>
                                </div>
                            </div>
                            <!-- / NOTIFICATIONS-CONTAINER -->

                            <!-- SEARCH-CONTAINER -->
                            <div class="search-container d-flex bg-light">
                               <a href="#"><i class="fas fa-search mx-3 my-2"></i></a>
                                <!--INPUT TEXT  -->
                               <input
                                    type="text"
                                    class="input-group border-0"
                                    placeholder="Cerca o inizia una nuova chat"
                                />
                                <!-- / INPUT TEXT  -->
                            </div>
                            <!-- / SEARCH-CONTAINER -->

                            <!-- CONTACTS-CONTAINER -->
                            <div class="contacts-container">
                                <ul class="contatcs list-group">
                                    <li class="list-group-item" v-for="contact in contacts">
                                        <img
                                            class="avatars-img"
                                            :src="`img/avatar${contact.avatar}.jpg`"
                                            alt="contact-avatar"
                                        />
                                        {{ contact.name }}
                                    </li>
                                </ul>
                            </div>
                            <!-- / CONTACTS-CONTAINER -->
                            
                        </div>
                        <!-- / LEFT CONTAINER / SIDEBAR -->
                        <!-- / COL LEFT -->
                        
                        <!-- COL RIGHT -->
                        <div class="col-sm-6 col-lg-8">
                            
                            <!-- RIGHT-CONTAINER -->
                            <!-- HEADER-RIGHT  -->
                            <div class="header-right">

                                <!-- CONTACT IMG/DETAILS -->
                                <div class="header-left d-flex">
                                    <div class="user-img flex-grow-1 py-2 mx-2">
                                        <img
                                            class="avatars-img"
                                            :src="`img/avatar${contacts[currentIndex].avatar}.jpg`"
                                            alt=""
                                        />
                                        <span class="fw-bold">{{contacts[currentIndex].name}}</span>
                                        <p class="text-secondary">
                                            <!-- Ultimo accesso oggi alle -->
                                        </p>
                                    </div>
                                    <!-- / CONTACT IMG/ DETAILS -->

                                    <!-- CONTACT SETTING-ICONS -->
                                    <div class="profile-setting">
                                        <a href="#"><i class="fas fa-search  my-3 mx-2 py-2 px-1"></i></a>
                                        <a href="#"><i class="fas fa-paperclip  my-3 mx-2 py-2 px-1"></i></a>
                                        <a href="#"><i class="fas fa-ellipsis-v  my-3 mx-2 py-2 px-1"></i></a>
                                    </div>
                                    <!-- / CONTACT SETTING-ICONS -->
                                </div>
                                <!-- / CONTACT IMG/DETAILS -->

                            </div>
                            <!-- / HEADER-RIGHT  -->


                            <!-- CHAT-CONTAINER -->
                            <div class="chat-container">
                                <div class="message-zone d-flex flex-column" v-for="(messagge, index) in contacts[currentIndex].messages">
                                    <div class="sent-message text-center">
                                        {{contacts[currentIndex].messages[index].text}}
                                    </div>
                                    <div class="receveid-message text-center">
                                        messaggio ricevuto
                                    </div>
                                </div>
                                
                            </div>
                            <!-- / CHAT-CONTAINER -->

                            <!-- FOOTER-CHAT-CONTAINER -->
                            <div class="footer-chat-container d-flex justify-content-between">
                                <a href="#"><i class="far fa-smile ms-4 py-3"></i></a>
                                <div class="input-message py-3">
                                    <input
                                    type="text"
                                    placeholder="Scrivi un messaggio"
                                    class="border-0" style="width:700px"
                                    />
                                </div>
                                <a href="#"><i class="fas fa-microphone me-4 py-3"></i></a>
                            </div>
                            <!-- / FOOTER-CHAT-CONTAINER -->
                            <!-- / RIGHT-CONTAINER  -->
                        </div>
                        <!-- / COL RIGHT -->
                
                    </div>
                    <!-- / ROW -->

                </div>
                <!-- / MAIN CONTAINER -->

            </div>
            <!-- / BACKGROUND MAIN (GRAY) --> 

                
            
                
        </div>
        <!-- / GENERAL CONTAINER -->
    
    </div>
    <!-- / js #app -->

    <!-- link js -->
    <script src="./js/script.js"></script>
  </body>
</html>
